@using NotesApp.Application.Interfaces
@using NotesApp.Application.Entities
@using Microsoft.AspNetCore.WebUtilities
@using System.Net
@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager Navigation


<h3>Notes</h3>
<section class="d-flex flex-column gap-2">
    @foreach (var item in Data.Items)
    {
        <NoteListItem Item="item"/>
    }
</section>
<Pagination 
    CurrentPage="Data.Page" 
    HaveNextPage="Data.HaveNextPage" 
    HavePrevPage="Data.HavePrevPage"
    OnPageChanged="PageChangedCallback"
    />

@code {
    [Parameter]
    public required PagedList<Note> Data { get; set; }

    private void PageChangedCallback(int page)
    {
        var query = QueryHelpers.ParseQuery(new Uri(Navigation.Uri).Query);
        query["page"] = page.ToString();
        
        Navigation.NavigateTo(new QueryBuilder(query)
            .ToString());
    }
}