@page "/create"
@using NotesApp.Application.Entities
@using NotesApp.Application.Services
@inject NoteService NoteService
@inject NavigationManager NavigationManager

<h3>Create New Note</h3>
<EditForm Model="Model" OnValidSubmit="@SubmitHandler">
     <DataAnnotationsValidator />
     <ValidationSummary />
    <div class="form-group mb-3">
        <label for="title">Title</label>
        <InputText id="title" class="form-control" @bind-Value="Model.Title"/>
    </div>
    <div class="form-group mb-3">
        <label for="text">Text</label>
        <InputTextArea id="text" class="form-control" @bind-Value="Model.Text"/>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</EditForm>

@code {
    private Note Model { get; set; } = new();

    async Task SubmitHandler()
    {
        await NoteService.Create(Model);
        NavigationManager.NavigateTo("/");
    }
}